body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #000000; /* default text black */
}

.home-container {
  text-align: center;
  padding-top: 5vh;
}

.home-logo {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navigation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5.5rem;
}

.navigation-button {
  background-color: #1b85b0;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.25s ease-in-out;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #176e91;
}


.language-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.language-label {
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
}

.ecs-title {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -1rem;
  color: #000000;
  text-align: center;
  text-shadow: 0 8px 4px rgba(0, 0, 0, 0.15);
}


/* override react-select wrapper width */
.language-select {
  min-width: 150px;
}
