body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
}

.home-container {
  text-align: center;
  padding-top: 5vh;
}

.home-logo {
    max-width: 300px; /* Set maximum width */
    width: 100%; /* Make it responsive */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center horizontally */
  }
  

.navigation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.navigation-button {
  background-color: #ff6800;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.navigation-button:hover, .navigation-button:focus {
  background-color: #ff5a00;
}

/* Utility classes for the footer and other elements */
.text-light {
  color: #ffffff;
}

.bg-dark {
  background-color: #002460;
}

.bg-blue {
  background-color: #00a5fb;
}

.bg-dark-orange {
  background-color: #ff5a00;
}

.footer {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  .navigation-buttons {
    flex-direction: column;
  }
}

.language-dropdown {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 2rem 0.75rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.language-dropdown:hover,
.language-dropdown:focus {
  background-color: #0056b3;
}
